.video-js{
    width: 540px;
    height: 380px;
    border: none;
    outline: none;
    cursor: pointer;
}

@media screen and (max-width: 480px){
    .video-js{
        width: 360px;
        height: 200px;
    }
}